<h3>View All Subscription</h3>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th class="w-small">ID</th>
<th>User Id</th>
<th>Channel Id</th>

    <th class="w-med">Updated</th>
    <th colspan="3" class="w-med">Manage</th>
  </tr>
  <% @subscriptions.each do |subscription|%>
  <tr>
    <td class="w-small"><%= subscription.id%></td>
<td><%= subscription.user_id %></td>
<td><%= subscription.channel_id %></td>

    <td><%= subscription.updated_at.strftime('%x')%></td>

    <td><a href="/subscriptions/<%= subscription.id %>"><span class="glyphicon glyphicon-folder-open"></span></a></td>
    <td><a href="/subscriptions/<%= subscription.id %>/edit"><span class="glyphicon glyphicon-edit"></span></a></td>

    <td><%= erb :'subscriptions/_delete', layout: true, locals: { subscription: subscription }%></td>

  </tr>
  <% end %>
</table>


<div class="digg_pagination">
  <%= will_paginate @subscriptions, renderer: BootstrapPagination::Sinatra %>
  <%#= will_paginate @subscriptions %>
</div>
