<h1 style="color: white; margin: 30px 10px;">Home - Index</h1>

<div class="container" >
  <div class="row">

    <div class="col-sm-7">
      <h3>Available Channels</h3>

      <table class="table table-bordered table-hover table-striped">
        <tr>
          <th>Name</th>
          <th>Callsign</th>
          <th>Price Per Month</th>
          <th>Details</th>
        </tr>
        <% if @channels %>
        <% @channels.each do |channel|%>
        <tr>
          <td><%= channel.name %></td>
          <td><%= channel.callsign %></td>
          <td><%= channel.price_per_month %></td>
          <td><a href="/channels/<%= channel.id %>"><span class="glyphicon glyphicon-folder-open"></span></a></td>
        </tr>
        <% end %>
        <% end %>
      </table>

      <div class="digg_pagination">
        <% if @channels %>
        <%= will_paginate @channels, renderer: BootstrapPagination::Sinatra %>
        <%#= will_paginate @channels %>
        <% end %>
      </div>

    </div> <!-- end col-sm-8-->

    <div class="col-sm-5">
      <h3>Popular Channels</h3>


        <table class="table table-bordered table-hover table-striped">
          <tr>
            <th>Name</th>
            <th>Subscribers</th>
            <th>Details</th>
          </tr>
          <% if @popular_channels %>
          <% @popular_channels.each do |channel|%>
          <tr>
            <td><%= channel.name %></td>
            <td><%= channel.subscriptions.count %></td>
            <td><a href="/channels/<%= channel.id %>"><span class="glyphicon glyphicon-folder-open"></span></a></td>
          </tr>
          <% end %>
          <% end %>
        </table>

        <div class="digg_pagination">
          <% if @popular_channels %>
          <%= will_paginate @popular_channels, renderer: BootstrapPagination::Sinatra %>
          <%#= will_paginate @channels %>
          <% end %>
        </div>


    </div> <!-- end col-sm-4-->

  </div><!-- end row -->
</div><!-- end container -->
